* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --text-color: white;
  --bg-url: url(./assets/bg-mobile.jpg);
  --stroke-color: rgba(255, 255, 255, 0.5);
  --surface-color: rgba(255, 255, 255, 0.05);
  --surface-color-hover: rgba(0, 0, 0, 0.02);
  --highlight-color: rgba(255, 255, 255, 0.2);
  --swtich-bg-url: url(./assets/moon-stars.svg);
}

.light {
  --text-color: black;
  --bg-url: url(./assets/bg-mobile-light.jpg);
  --stroke-color: rgba(0, 0, 0, 0.5);
  --surface-color: rgba(0, 0, 0, 0.05);
  --surface-color-hover: rgba(0, 0, 0, 0.2);
  --highlight-color: rgba(0, 0, 0, 0.1);
  --swtich-bg-url: url(./assets/sun.svg);
}

body {
  background: var(--bg-url) no-repeat top center/cover;
  height: 100vh;
}

body * {
  font-family: "Inter", sans-serif;
  color: var(--text-color);
}

#conteiner0 {
  width: 100%;
  max-width: 588px;
  margin: 56px auto 0px;
  padding: 0 24px;
}

/* Profile */
#profile {
  text-align: center;
  padding: 24px;
}

#profile img {
  width: 112px;
  border-radius: 50%;
}

#profile p {
  font-weight: 400;
  line-height: 24px;
  margin-top: 8px;
}
/* Switch buttom */

#switch {
  position: relative;
  width: 64px;
  margin: 4px auto;
}

#switch button {
  width: 32px;
  height: 32px;
  background: white var(--swtich-bg-url) no-repeat center;
  top: 50%;
  border: 0;
  border-radius: 50%;
  position: absolute;
  left: 0;
  z-index: 1;
  transform: translateY(-50%);
}

#switch span {
  display: block;
  width: 64px;
  height: 24px;
  background: var(--surface-color);
  border: 1px solid var(--stroke-color);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 9999px;
}

#switch button:hover {
  outline: 8px solid var(--highlight-color);
}

.light #switch button {
  right: 0;
  left: initial;
}

/* Link - listas */

ul {
  list-style: none;
  flex-direction: column;
  display: flex;
  gap: 16px;

  padding: 24px 0;
}

ul li a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px 24px;

  background: var(--surface-color);
  border: 1px solid var(--stroke-color);
  border-radius: 10px;
  backdrop-filter: blur(4px);

  -webkit-backdrop-filter: blur(4px);
  text-decoration: none;
  font-weight: 500;

  transition: background 0.2s;
}

ul li a:hover {
  background: var(--surface-color-hover);
  border: 1.5px solid var(--text-color);
}

/* social- links */

#social-links {
  display: flex;
  justify-content: center;
  padding: 24px 0;
  font-size: 24px;
}

#social-links a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;
  transition: background 0.5s;
  border-radius: 50%;
}

#social-links a:hover {
  background: var(--highlight-color);
}

/* final da pagina */
footer {
  padding: 24px 0;
  text-align: center;
  font-size: 14px;
}

/* ajustes para dispositivos mob e desktop */
@media (min-width: 700px) {
  :root {
    --bg-url: url(./assets/bg-desktop.jpg);
  }
  .light {
    --bg-url: url(/assets/bg-desktop-light.jpg);
  }
}

/* animação do swich */

/* @keyframes slide-in {
  fron {
    left: 0;
  }
  to {
     left: 50;
  }
} */
